<h1> Properties: </h1>

<ul>
  <% @properties.each do |property| %>
    <li>
      <%= property.name %>
      <%= property.price %>
      <%= property.availability %>
      <%= property.description %>
    </li>
  <% end %>
</ul>


