<h1> Add your property details... </h1>
<form action='/properties' method='post' >
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="price" placeholder="Price" />
  <input type="text" name="availability" placeholder="Availability" />
  <input type="text" name="description" placeholder="Description" />
  <input type="submit" value="Submit" />
</form>